/* css dùng chung cho cả web */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

:after,
:before {
    box-sizing: border-box
}

html {
    font-size: 10px;
    height: 100%;
    font-family: sans-serif;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    background: #fff;
    color: #000;
    margin: 0 auto
}

a {
    color: #000;
    text-decoration: none;
    background-color: transparent
}

a:focus,
a:hover,
a:active {
    font-weight: bold;
    outline: 0;
    text-decoration: none;
}

img {
    vertical-align: middle;
    border: 0
}

hr {
    clear: both;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #ddd
}


.hidden {
    display: none !important
}


.floating-action {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    border-top-left-radius: 100%;
    font-size: 20px;
    color: #fff;
    z-index: 999;
    transition: width .3s, height .3s, background .6s
}

.floating-action.activated {
    width: 200px;
    height: 200px;
    background: rgba(0, 0, 0, .2)
}

.floating-action.activated .action-item {
    opacity: 1
}

.floating-action.activated .action-toggle {
    background: #999
}

.floating-action.activated .action-home {
    right: 135px
}

.floating-action.activated .action-menu {
    right: 110px;
    bottom: 65px
}

.floating-action.activated .action-user {
    right: 65px;
    bottom: 110px
}

.floating-action.activated .action-top {
    bottom: 135px
}

.action-item {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 48px;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0;
}

.action-item.action-toggle {
    font-size: 25px;
    background: #d80f16;
    opacity: 1;
    z-index: 1
}

.action-item.action-home {
    background: #d80f16
}

.action-item.action-menu {
    background: #239924
}

.action-item.action-user {
    background: #fe9900
}

.action-item.action-top {
    padding-left: 2px;
    line-height: 45px;
    background: #00abfd
}

.section-description{
    font-size: 14px;
    margin-left: 20px;
    border-left: 5px coral solid;
    padding-left: 10px;
    line-height: 1;
    margin-bottom: 20px;
}

.container-cs.container-the-loai{
    min-height: fit-content;
}